h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 2802012143- Coordinar actividades para la conservación y transporte de las muestras de aguas según normativa y procedimientos técnicos.




